
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700');
  /* Common */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

:root {
  --purple: #705ecf;
  --green: #05b993;
  --grey: #f8f9fa;
  --white:#ffffff;
}

h2 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.2;
}
p {
  font-size: 0.85rem;
}

.btn {
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 0.2rem;
  padding: 0.85rem 1.6rem;
  letter-spacing: 0.0625rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
}

.btn:hover {
  opacity: 0.8;
}

span {
  font-size: 1rem;
  font-weight: 700;
}

.subtitle-p {
  font-size: 1rem;
}

.subtitle-h6 {
  font-size: 0.95rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

  /* Communication Section */

#comm {
  padding: 3rem;
  background: #f8f9fa;
}

.comm-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  height: 4.375rem;
  width: 4.375rem;
  border-radius: 50%;
  background-color: var(--green);
  text-align: center;
}

.icon span {
  line-height: 4.375rem;
  font-size: 1.5rem;
  color: var(--white);
}

.comm-container h2 {
  padding: 1rem 0;
}

.comm-container p {
  padding: 1rem 0;
}

.sub-form {
  display: block;
  padding: 2rem 0;
}

.sub-box {
  display: flex;
}

.sub-box input {
  width: 100%;
  background: var(--white);
  letter-spacing: 0.0625rem;
  color: #000;
  font-size: 0.9rem;
  padding: 0.875rem 1.25rem;
  outline: 0;
  /* box-shadow: 0px 0.6875rem 2.625rem 0.0625rem rgba(58, 52, 82, 0.1); */
}

.sub-box button {
  background: var(--purple);
  letter-spacing: 0.0625rem;
  color: var(--white);
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
  box-shadow: 0px 0.6875rem 2.625rem 0.0625rem rgba(58, 52, 82, 0.1);
  width: 50%;
  line-height: 1.5;
  cursor: pointer;

}

    /* Footer */

.footer {
  border-top: 1px solid #dee2e6;
  background: #f8f9fa;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons ul li {
  list-style-type: none;
}

.social-icons ul li a span {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: var(--purple);
}

.footer p {
  color: #343a40;
  letter-spacing: 0.0625rem;
}

.top a span {
  color: var(--green);
  font-size: 1.9rem;
}
