@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700');
  /* Common */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

:root {
  --purple: #705ecf;
  --green: #05b993;
  --grey: #f8f9fa;
  --white:#ffffff;
}

h2 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.2;
}
p {
  font-size: 0.85rem;
}

.btn {
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 0.2rem;
  padding: 0.85rem 1.6rem;
  letter-spacing: 0.0625rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
}

.btn:hover {
  opacity: 0.8;
}
/* needs to change class name */
.damn-span {
  font-size: 1rem;
  font-weight: 700;
}

.subtitle-p {
  font-size: 1rem;
}

.subtitle-h6 {
  font-size: 0.95rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.breadcrumb {
  background-color: transparent;
  justify-content: center;
  padding: 5vw 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding: 0 0.5rem;
  color: ##6c757d;
  content: "/";
  justify-content: center;
}

li.breadcrumb-item a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

  /* Contact Page */
#contact {
  padding: 5rem;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-img {

  overflow: hidden;
}

.contact-img img {
  width: 100%;
  height: auto;
}

.fname, .mobile  {
  flex: 1;
  margin-right: 1rem;
}

.lname, .email {
  flex: 1;
  margin-left: 1rem;
}
.fname input, .lname input, .mobile input, .email input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  background: #f8f9fa;
  border-left: 0.1875rem solid var(--purple);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 1.5;
}


.message textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: #f8f9fa;
  border: none;
  border-left: 0.1875rem solid var(--purple);

}
.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.border-left {
  border-left: 0.1875rem solid var(--purple);
}

.row .btn {
  background: var(--purple);
  color: var(--white);
  padding: 0.6875rem 1.5625rem;
  font-size: 1rem;
  max-width: 8.75rem;
  letter-spacing: 0.0625rem;
  margin-top: 1.5rem;
  flex: 1;
}

  /* Map Section */
  #map .row {
  justify-content: space-around;
  }

  /* Communication Section */

#comm {
  padding: 3rem;
  background: #f8f9fa;
}

.comm-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.green-icon {
  height: 4.375rem;
  width: 4.375rem;
  border-radius: 50%;
  background-color: var(--green);
  text-align: center;
}


.green-icon i {
  line-height: 4.375rem;
  font-size: 1.5rem;
  color: var(--white);
}

.comm-container h2 {
  padding: 1rem 0;
}

.comm-container p {
  padding: 1rem 0;
  text-align: center;
  line-height: 1.9;
  color: #51585f;
}

.sub-form {
  padding: 2rem 0;
  max-width: 40rem;
}

.sub-box {
  display: flex;
  box-shadow: 0rem 0.6875rem 2.625rem 0.0625rem rgba(58, 52, 82, 0.1);
}

.sub-box input {
  width: 100%;
  background: var(--white);
  letter-spacing: 0.0625rem;
  color: #000;
  font-size: 0.9rem;
  padding: 0.875rem 1.25rem;
  outline: 0;
}

.sub-box button {
  background: var(--purple);
  letter-spacing: 0.0625rem;
  color: var(--white);
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
  box-shadow: 0rem 0.6875rem 2.625rem 0.0625rem rgba(58, 52, 82, 0.1);
  width: 50%;
  line-height: 1.5;
  cursor: pointer;

}

    /* Footer */

.footer {
  border-top: 1px solid #dee2e6;
  background: #f8f9fa;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons ul li {
  list-style-type: none;
}

.social-icons ul li a span {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: var(--purple);
}

.footer p {
  color: #343a40;
  letter-spacing: 0.0625rem;
}

.top a span {
  color: var(--green);
  font-size: 1.9rem;
}

  /* Responsive */

@media all and (max-width:500px) {

  html {
    font-size: 14px;
  }
  .row {
    flex-direction: column;
  }
  #contact {
    padding: 1rem;
  }
  .lname, .email {
    flex: 1;
    margin-left: 0;
    margin-right: 1rem;
  }

  .message {
    margin-right: 1rem;
  }

  #map {
    max-width: 95vw;
    overflow: hidden;
    margin: 0 auto;
  }

  #map .row, #map iframe {
    width: 100%;
  }

  #comm {
    padding: 3rem 0;
  }

  .sub-form {
    width: 95%;
  }
  .footer-container {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container * {
    margin: 0.5rem 0;
  }
}

@media all and (min-width:501px) and (max-width:960px) {

  html {
    font-size: 16px;
  }
  .row {
    flex-direction: column;
  }
  #contact {
    padding: 1rem;
  }
  .lname, .email {
    flex: 1;
    margin-left: 0;
    margin-right: 1rem;
  }

  .message {
    margin-right: 1rem;
  }

  #map {
    max-width: 95vw;
    overflow: hidden;
    margin: 0 auto;
  }

  #map .row, #map iframe {
    width: 100%;
  }

  #comm {
    padding: 3rem 0;
  }

  .sub-form {
    width: 95%;
  }
  .footer-container {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container * {
    margin: 0.5rem 0;
  }
}

/* Typography */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.4rem
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}
/* Wrapper */
.outer-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
    padding: 40px 0;
}
/* Primary Header */
.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1vw;
    box-shadow: 0 0 1.5rem rgba(87, 87, 87, .1);
}
/* Logo */
.logo {
    display: flex;
    color: var(--purple);
    flex-grow: 0;
    align-self: flex-start;
    margin-bottom: .2rem;
}
.logo-title,
.logo-icon {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px .5rem rgba(87, 87, 87, .1);
}
.logo-icon {
    font-weight: 400;
    margin-right: .8rem;
}

/* Navigation */
.menu-btn {
    display: none;
}
.nav-container {
    flex-grow: 3;
    max-width: 500px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
}
.list-item {
    margin:0 .5rem 0 .25rem;
}
.nav-link {
    font-size: .9rem;
    text-decoration: none;
    color: #000000;
}
.nav-link:hover {
    cursor: pointer;
    color: var(--green);
}
.dropdown-list {
    display: none;
    width: max-content;
    background: #000000;
    padding: 1rem 1.5rem 1rem 1rem;
    border-radius: .6rem;
    top: 100%;
}
.dropdown-item {
    padding-bottom: .7rem;
}
.dropdown-link {
    color: var(--white);
}
.drop-down {
    position: relative;
}
.drop-down:hover .dropdown-list{
    display: block;
    position: absolute;
}
.current-link {
  color: var(--green);
}
.search-container {
    flex-grow: 0;
    display: flex;
}
.search-form {
    min-width: 300px;
    display: flex;
}
.search {
    font-size: .9rem;
    background: var(--grey);
    border: none;
    height: 2.75rem;
    color: #000000;
    vertical-align: center;
    padding: 1rem;
}
.search-btn {
    border: none;
    border-radius: 0%;
    height: 2.75rem;
    background: var(--green);
    padding: 0.8rem;
}
.cloud-btn {
    border: none;
    border-radius: 10%;
    height: 2.75rem;
    background: var(--purple);
    padding: 0.8rem;
    margin-left: .8rem;
}

/* Hero Section */
.col-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
}
.col-2-text,
.img-container {
    justify-items: center;
    align-self: center;
}
.hero-title {
    font-weight: 600;
    line-height: 1.3;
}
.green-text {
    color: var(--green);
}
.article-text {
    font-size: 0.9rem;
    line-height: 2;
    font-weight: 300;
}
.hero-text {
    margin: 1.5rem 0 4rem 0;
}
.responsive-img {
    width: 100%;
}

/* features section */
.features {
    background: var(--grey);
    margin: 7rem 0 5rem 0;
}
.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;

}
.article {
    background: var(--white);
    text-align: center;
    padding: 3.5rem 2rem 3.5rem 2rem;
    box-shadow: 0 0 1rem rgba(58, 52, 82, 0.1);
}
.article-img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    object-fit: cover;
}
.article-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.5rem 0 1.5rem 0;
}
.feature-btn {
   color: var(--purple);
   margin-top: 3rem;
   border: none;
   background: var(--white);
   font-size: 1rem;
   font-weight: 500;
}

/* Experience Section */
.exp {
    padding-bottom: 3rem;
}
.exp-title {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
.exp-sub-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
}
.exp-text {
    margin: 1.8rem 0;
}
.exp-list {
    list-style: disc;
    padding-left: 1rem;
    margin-bottom: 3rem;
}
.exp-item {
    margin-top: .65rem;
}

/* Services Section */
.services {
    background: var(--grey);
    padding: 4rem 0;
}
.services-header,
.partenrs-header {
    text-align: center;
    width: 80%;
    margin: 0  auto;
    margin-bottom: 5rem;
}
.services-title {
    line-height: 1;
}
.services-subtitle {
    font-size: 1rem;
    margin: 1rem 0;
    letter-spacing: .045rem;
    line-height: 2;
}
.article-icon {
    height: 65px;
    width: 65px;
    display: inline-block;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 100;
    padding: 1rem;
    color: var(--white);
}
.chart-icon {
    background: #FF3A46;
}
.dollar-icon {
    background: #00ebac;
}
.bulb-icon {
    background: #9657f6;
}

/* Facts */
.fact-title {
    font-size: 1.75rem;
    font-weight: 600;
}
.fact-subtitle {
    font-size: 1.1rem;
    letter-spacing: .07rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
}
.stats {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
.stat-number {
    font-weight: 600;
    font-size: 1.65rem;
    margin-bottom: 1rem;
}

/* Partners */
.partners {
    text-align: center;
}
.partner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-row {
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.partner {
    font-size: 3rem;
}

@media all and (max-width: 980px) {

    .nav-container {
        min-width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .search-container {
        /* min-width: 430px; */
        flex-grow: 1;
        justify-content: center;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    .nav-list {
        display: none;
    }
    .menu-btn {
        display: block;
        text-align: center;;
        background: var(--white);
        color: #000000;
        padding: .25rem .7rem;
        border-radius: .3rem;
        border: 1px solid;
        max-width: 70px;
    }
    .menu-btn:hover {
        cursor: pointer;
    }
    .list-item,
    .drop-down {
        padding: .5rem 0;
        text-align: center;
    }
    .drop-down:hover .dropdown-list{
        display: none;
    }
    .dropdown-link {
        color: #000000;
    }
    .menu {
        width: 130px;
        display: flex;
        flex-direction: column;
    }
    .toggle-menu:checked ~.nav-list {
        display: flex;
        position: relative;
        flex-direction: column;
        right: 35vw;
    }
    .toggle-drop:checked ~.dropdown-list {
        display: flex;
        position: relative;
        flex-direction: column;
        /* width: max-content; */
        background: var(--white);
        padding: .5rem 0 0 0;
        border-radius: 0;
        position: static;
        text-align: center;
    }
}

/* 404 Error-Page*/

.error-page {
  text-align: center;
  width: 100%;
  height: 800px;
  background: #fff;
  padding: 10px;
}

.home {
  /* margin-top: 10%; */
  margin-bottom: 140px;
}

.home-page {
  text-decoration: none;
  /* color: black; */
}

.heading {
  font-size: 40px;
}

.subtitle-p {
  color: #51585f;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  font-size: 16px;
  margin: 0 auto;
  padding: 2rem;

}

.back-btn {
  width: 180px;
  height: 53px;
  padding: 5px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 1.5rem;
}



/* Pricing */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;

}
.clearfix:after {
  clear: both;
}

.wrapper1 {
  width: 90%;
  margin: 0 auto;
}

.price-container {
  width: 100%;
  /* height: 700px; */
  /* margin-top: 140px; */
  background: #fff;
  text-align: center;
  padding-bottom: 80px;
  /* margin-left: 40px; */
}


.stan {
margin: 3rem 0 2rem 0;
}

.home-page-pricing {
  color: black;
  text-decoration: none;
}

hr {
width: 80%;
}

.rounded-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #705ecf;
  font-size: 30px;
  line-height: 2.9;
  margin-left: 80px;
  top: -60px;
  position: absolute;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.box {
  width: 260px;
  /* height: 420px; */
  outline: 1px solid #ddd;
  float: left;
  text-align: center;
  margin-left: 60px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 80px;
}

.shadow {
  box-shadow: 1px 2px 16px 2px #d8d8d8;
}

.shadow-hover:hover {
  box-shadow: 1px 2px 16px 2px #d8d8d8;
}

.box1 {
  margin-left: 30px;
}

/* .box:hover {
  box-shadow: 4px 7px;
} */

.boxtext {
  color: lightslategray;
  font-size: 20px;
  padding: 17px;
  line-height: 40px;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}


.purchase-btn {
  width: 140px;
  height: 50px;
  padding: 5px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}
/*About us*/

.marginpara {
  margin: 1.5rem 0 2rem 0;
}
 
.banner{
	display:flex;
	justify-content: center;
	padding: 5rem 0;

}

.about {
	background: url(../media/images/about.png);
	max-width: 100%;
	height: auto;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;

}

.hero {
	display:grid;
	grid-template-columns: 40% 60%;
	grid-auto-rows: 30rem;
	padding-bottom: 3rem;

}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 2rem;
}

.color {
	color: var(--green);

}
 .para {
 	padding-top: 1.5rem;
	line-height: 1.6;
	color: gray;

 }

 .main_heading {
 	font-size: 2.5rem;
 	padding-top: 1.5rem;
 }




 /* benefit page*/

.benefits_items {
	display: grid;
	grid-template-columns: 0.5fr 1fr;

}

.benefits {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 4rem 0 4rem 0;
	grid-gap: 4.5rem 4.5rem;

}
.benefits_bg {
	background-color: var(--grey);

}
.icon {
	font-size: 2.5rem;
	padding-top: 2rem;
}

.fa-handshake {
	color: #39dcb1;
}
.fa-headphones {


color: #00a3e2;
}
.fa-folder-open {
	color:#e53b2c;
}

.fa-coffee {
	color: #feb155;
}

.fa-eye {
 color: #b764d8;
}
/* Needs to change the class name */
.damn-fa-lightbulb {
	color: #0ca799;
}


.title{
	font-size: 1.5rem;
}

/* needs to change the name */
.damn-btn {
	margin-top: 2rem;
}

/*team*/

.team_bg {
	background-color: #F8F9FA;
}
.team {
	text-align: center;
	height: 35rem;

}
.team_para {
	line-height: 1.7;
	color: gray;
	max-width: 80rem;
	padding: 2rem 10rem 0 10rem;
	letter-spacing: 0.1rem;
}

.team_member {

	background-color: #FFFFFF;
	box-shadow: 0.2rem 0.2rem  1rem #ccc;
}

.team_members {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
	padding-top: 5rem;

}

.flex_social {
	display: flex;
	justify-content: center;
	padding-bottom: 2rem;


}

.flex_item {
	padding: 0 0.8rem 0 0.8rem;
	color: #333333;
}

.member_name {
	font-weight: 700;
	font-size: 1.2rem;
	color: #333333;
	padding-bottom: 1rem;
}

.img {
	padding: 2rem 0 1rem 0;
	border-radius: 50%;
}

.team_title {
	padding-top: 3rem;
}




/*faq's page*/



.faq {
	background: url(../media/images/faq.png);
	max-width: 100%;
	height: auto;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.faq_hero {
	display:grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 30rem;
	padding-bottom: 3rem;
	grid-gap: 2rem;

}

.feq_heading {
	font-size: 1rem;
 	padding-top: 1.5rem;
}

.faq_list {
	padding-bottom: 5rem;

}

.faq_que {
	max-width: 100%;

	margin: auto;
	background-color: #F3F3F3;
	margin-bottom: 2rem;
}

.faq_check {
	display: none;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] ~ label {

	background-color: #F3F3F3;
	padding: 1.5rem;
	display: block;
	letter-spacing: 1px;

}

#check:checked ~ .faq_check {
	display: block;
}

.faq_check {
	background-color: #FFFFFF;
	width: 100%;
	padding: 2rem;
	box-shadow: 0.2rem 0.2rem  1rem #ccc;
	letter-spacing: 1px;
}
.faq_check_title {
	color: #7066D8;
	font-size: 1.2rem;
}

#check_1:checked ~ .fc1 {
	display: block;
}

#check_2:checked ~ .fc2{
	display: block;
}

#check_3:checked ~ .fc3{
	display: block;
}

@media all and (max-width:500px) {

  html {
    font-size: 14px;
  }
  /* for auout us */
  .wrapper {
    width: 92%;
    margin: 0 auto;
  }
  .banner {
    padding: 2rem 0;
  }

  .benefits {
    
    display: flex;
    flex-direction: column;
  }
  .benefits_items {
  margin-bottom: 2rem;  
  }
  

  .hero , .faq_hero {
    display: flex;
    flex-direction: column;
  }

  .about , .faq {
    width: 100%;
    display: block;
    height: 18rem;
  }
  .team {
    height: auto;
  }
  

  .team_members {
    display: flex;
    flex-direction: column;
    
  }

  .team_member {
    
  
    margin-bottom: 2rem; 
  }

  .team_para {
    padding: 1rem 1rem ; 
  }

 
 /*for faq */

 .faq_heading {
  padding-top: 4rem;
 }
  
  
}  